@layer components {
  .carousel {
    position: relative;
  }

  .content {
    position: relative;
    display: grid;
    align-items: center;
  }

  .imageWrapper {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    cursor: grab;
    touch-action: none;

    &[data-dragging='true'] {
      cursor: grabbing;
    }
  }

  .canvasWrapper {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    user-select: none;
    aspect-ratio: var(--aspectRatio);
    isolation: isolate;
  }

  .canvas {
    position: relative;
  }

  .placeholder {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    transition: opacity 1s ease;
    opacity: 1;
    pointer-events: none;
    position: relative;
    z-index: var(--zIndex1);

    &[data-loaded='true'] {
      opacity: 0;
    }
  }

  .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &[data-prev='true'] {
      left: 10px;
    }

    &[data-next='true'] {
      right: 10px;
    }

    & svg {
      fill: white;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--spaceS);
  }

  .navButton {
    --navButtonSize: 10px;
    --buttonColor: color-mix(in lab, var(--text) 20%, transparent);

    background: none;
    border: 0;
    margin: 0;
    padding: var(--spaceM);
    cursor: pointer;

    &[aria-pressed='true'] {
      --buttonColor: var(--textBody);
    }

    &::after {
      content: '';
      display: block;
      border-radius: 50%;
      width: var(--navButtonSize);
      height: var(--navButtonSize);
      background: var(--buttonColor);
      transition-property: background, box-shadow;
      transition-duration: var(--durationL);
      transition-timing-function: var(--bezierFastoutSlowin);
    }
  }
}
