.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh; // Adjust height as needed
  color: var(--theme-text); // Use theme variable for text color
  text-align: center;
}

.title {
  font-size: 3rem; // Base font size
  @media (max-width: 768px) {
    font-size: 2rem; // Smaller font size for smaller viewports
  }
  font-weight: bold;
  font-family: 'Geist-Mono-Regular', monospace; // Use your preferred font
} 